@import "colors.scss";
@import "shadows.scss";
@import "utils.scss";
@import "table.scss";
@import "pagination.scss";
@import "filters.scss";

.page {
  margin: 0 auto;

  @media (min-width: 576px) {
  }

  @media (min-width: 768px) {
    max-width: 700px;
  }

  @media (min-width: 992px) {
    max-width: 900px;
  }

  @media (min-width: 1200px) {
    max-width: 1050px;
  }

  @media (min-width: 1400px) {
    max-width: 1200px;
  }

  &-title {
    font: 24px "Roboto", "Helvetica", "Arial", sans-serif;
  }
}
